<div class='span12'>
	<h1>U.D.T <small>우리동네특공대</small></h1>
	<div style='margin: 2em 0em'>
		<p>우리동네특공대는 내가 사는 우리 동네에 무슨 일이
			발생했을 때 시민들들 스스로 문제를 해결하는 사람들입니다.</p>

		<p>우리동네특공대가 되어 연락처를 남겨주시면 우리동네특공대의
			출동이 필요할 때 문자메시지로 임무가 전달이 됩니다.</p>

	</div>
</div>

<div class='span7'>
  <%= image_tag 'snow_removing.jpg' %>
  <p style='text-align:right;'>http://www.flickr.com/photos/johnaesthetica/5355407853/</p>
</div>

<div class='span5'>

	<div class='well'>
			<p style='color:#555555;'>비가 많이 와서 배구수가 막혔다구요- UDT 출동!<br>
			눈이 너무 많이 와서 위험하다구요- UDT 출동!<br>
			우리동네 의류 수거함 내가 찾는다.- UDT 출동!</p>
		<%= render :partial => 'form' %>
	</div>
</div>
